* {
  box-sizing: border-box;
}

body {
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.hidden {
  display: none !important;
}

/* 테마 선택 */
#bg {
  display: flex;
  /* flex-direction: column; */
  justify-content: right;
  /* align-items: center; */
}

select {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 50px;
  margin: 5px;
}

option {
  background-color: rgba(255, 255, 255, 0.5);
}

/* 날씨 */
#weather {
  color: white;
  font-weight: 700;
}

/* 날짜&시간 */
#dateTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  padding: 20px;
}

#date {
  font-size: 45px;
  font-weight: 700;
}

#time {
  font-size: 100px;
  font-weight: 900;
}

/* 메인 */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-before {
  display: flex;
  justify-content: center;
}

#login-after {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* 투두 리스트 */
.list-div {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  width: 500px;
}

.list-div button {
  border-color: none;
}

#todo-list button {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  color: red;
}
